<link rel="stylesheet" href="styles/splash.css" />
<div ng-controller='MainCtrl'></div>
<div ng-controller="splashCtrl">
    <div class="splash fade-in">
        <h1 class="splash-title fade-in">Food Truck Foodies</h1>
        <div ng-click='splashClick($event)'> <a href="#trucks" class="splash-arrow fade-in">
            <img src="images/down-arrow-1.png" width="50px" height="50px" alt="" href='#trucks' />
        </a>
        </div>
    </div>
    <!-- END .splash -->
</div>
<div class="wrapper">
	<div id='swipeShow' >
    <header class="cf">
        <nav>
            <h1 class="content-title"> Welcome!</h1>
        </nav>
    </header>
    <section class="main-content">
        <p>Food Truck Finder is dedicated to helping foodies across the beautiful city of Vancouver explore a variety of food trucks in their area. You can search for available food trucks using our built in Google Maps function, browse the menu of an unfamiliar food truck, as well as book your favourite truck for your own special event</p>
        <br />
    </section>
    </div>
</div>
<!-- END .wrapper -->
