<div class="container">
 <ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" click="onClick()" events="marker.events"> 
    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
      <div hm-tap"onHammer">
        <h3>Aussie Pie Guy</h1>
        <p>Hours: 11AM - 2PM</p>
        <p>Location: 1000 W Pender St. Vancouver, BC</p>
      </div>
    
    </ui-gmap-window>
  </ui-gmap-marker>
 </ui-gmap-google-map>
</div>