<div class="map-container">

	<!-- <map center="49.2827, -123.1207" zoom="13" class='map-container'></map> -->
	<map center="current-location" zoom="11" class="map-container">

		<marker position='current-location' title="CurrentPosition" on-click="showInfoWindow('bar11')" animation="DROP" draggable="false" visible="true"></marker>

		<info-window id='bar11'>
			<div ng-non-bindable> 
        		<span>You are Here.</span>
        	</div>
        </info-window>

        <marker position="49.284782, -123.114800" on-click="showInfoWindow('bar1')" animation="DROP" draggable="false" visible="true" id="aussie"></marker>
        <marker position="49.283316, -123.119119" on-click="showInfoWindow('bar2')" animation="DROP" draggable="false" visible="true" id="pigg"></marker>
        <marker position="49.288503, -123.119013" on-click="showInfoWindow('bar3')" animation="DROP" draggable="false" visible="true" id="feastro"></marker>
        <marker position="49.288382, -123.118983" on-click="showInfoWindow('bar4')" animation="DROP" draggable="false" visible="true" id="reef"></marker>
        <marker position="49.287938, -123.119797" on-click="showInfoWindow('bar5')" animation="DROP" draggable="false" visible="true" id="culver"></marker>
        <marker position="49.283138, -123.119103" on-click="showInfoWindow('bar6')" animation="DROP" draggable="false" visible="true" id="grilled"></marker>
        <marker position="49.282219, -123.124425" on-click="showInfoWindow('bar7')" animation="DROP" draggable="false" visible="true" id="japadog"></marker>
        <marker position="49.266061, -123.100598" on-click="showInfoWindow('bar8')" animation="DROP" draggable="false" visible="true" id="community"></marker>
        <marker position="49.287157, -123.117155" on-click="showInfoWindow('bar9')" animation="DROP" draggable="false" visible="true" id="fresh"></marker>
        <marker position="49.286721, -123.118320" on-click="showInfoWindow('bar10')" animation="DROP" draggable="false" visible="true" id="yolks"></marker>

         <info-window id='bar1' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[0].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[0].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[0].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar2' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[1].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[1].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[1].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar3' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[2].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[2].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[2].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar4' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[3].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[3].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[3].location}}</p>
         			<br>
         	</div>
         </info-window>         

         <info-window id='bar5' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[4].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[4].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[4].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar6' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[5].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[5].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[5].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar7' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[6].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[6].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[6].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar8' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[7].name}}</p>
         			<br>
         		<h3>Hours:</h3>
         		<p>{{varTrucks[7].hours}}</p>
         		<p>{{varTrucks[7].hours2}}</p>
         		<p>{{varTrucks[7].hours3}}</p>
         		<p>{{varTrucks[7].hours4}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[7].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar9' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[8].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[8].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[8].location}}</p>
         			<br>
         	</div>
         </info-window>

         <info-window id='bar10' >
         	<div ng-non-bindable>
         		<h3>Name:</h3><p>{{varTrucks[9].name}}</p>
         			<br>
         		<h3>Hours:</h3><p>{{varTrucks[9].hours}}</p>
         			<br>
         		<h3>Location:</h3><p>{{varTrucks[9].location}}</p>
         			<br>
         	</div>
         </info-window>


        <custom-control position="TOP_LEFT" index="1" on-click="click()" id="panel">
        	<button id="drop">Downtown</button>
        </custom-control>

        <custom-control id="panel" position='TOP_LEFT'>
        	<button id="drop" ng-click="hideMarkers()">Hide Markers</button>
       	</custom-control>

        <custom-control id="panel" position='TOP_LEFT'>
        	<button id="drop" ng-click="showMarkers()">Show Markers</button>
       	</custom-control>

        <custom-control position="TOP_LEFT" index="2" on-click="click2()" id="panel">
        	<button id="drop">Your Location</button>
        </custom-control>
	</map>
</div>

<!-- <div class="mapContainer">
 <ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker 
  	idkey="	marker.id" 
  	coords="marker.coords" 
  	click="marker.click"
  	options="marker.options" 
  	ng-repeat="marker in markers"> 

    	<ui-gmap-window
    		idkey='idCount'
    		models='varTrucks'
    		options="windowOptions"
    		closeClick="closeClick()">
    	</ui-gmap-window>

  </ui-gmap-marker>
 </ui-gmap-google-map>
</div>

<br> -->