<link rel="stylesheet" href="styles/heart.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">

<div class="accordion">
  <div id="swipeShow"
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1"><img src='images/Aussie.jpg' width="88px" height="70px"</img> Aussie Pie Guy </a>

        <div id="accordion-1" class="accordion-section-content">
          <p>Aussie Pie Guy is Vancouver's one and only Aussie pie food truck. They make authentic Australian meat (and veggie!) pies and desserts that they sell from their food truck in and around Vancouver, BC.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Tomorrow 11 AM - 2 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> West Pender St & Burrard St </p>

          <h3>Menu</h3>
          <!-- start aussie menu -->
          <dl>
            <dt><h4>Frozen Box available for $26 or Single Pie for $8</h4></dt>
            <dt><h4>SHANE'S PIE</h4></dt>
              <dd><h5>A signature pie created by our friend Shane. Tender free range BC beef short rib and vegetables with a red wine au-jus and apricot hoisin sauce over mashed potatoes.</h5></dd>
            <dt><h4>VEGGIE PIE</h4></dt>
              <dd><h5>Chock-a-block full of veggies! Organic roasted vegetable - yam, potato, eggplant, zucchini, red pepper, and onion - with goat cheese and sun dried tomato.</h5></dd>
            <dt><h4>THE TRIFECTA</h4></dt>
              <dd><h5>BC minced beef with chunks of double smoked bacon and layers of vintage cheddar all in a rich gravy.</h5></dd>
            <dt><h4>CHOOK PIE</h4></dt>
              <dd><h5>Don't be a goose, have a Chook Pie! Local, free run chicken and mushrooms in a creamy white wine sauce.</h5></dd>
            <dt><h4>SAUSAGE ROLL</h4></dt>
              <dd><h5>Handmade pork and beef sausage seasoned with sundried tomato and basil wrapped in flakey puff pastry (only available in mini for $3).</h5></dd>
            <dt><h4>SWEETIE PIE</h4></dt>
              <dd><h5>Apple pie the Aussie way. Organic BC apples and cinnamon with a layer of creamy vanilla custard (only available in mini for $4).</h5></dd>
          </dl>
          <!-- end aussie menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-2"><img src='images/CommunityPizzeria.jpg' width="88px" height="70px"</img> Community Pizzeria </a>
        <div id="accordion-2" class="accordion-section-content">

          <p>Community Pizzeria is an authentic Neapolitan-style wood-fired pizza truck. Traditional Neapolitan‐style pizza is thin crust pizza topped with only the best authentic and locally sourced Italian ingredients.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> 4:30 PM - 8:30 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Parallell 49 Brewing @ 1950 Triumph St</p>

          <h3>Menu</h3>
          <!-- start community pizzeria menu -->
          <dl>
            <dt><h4>MARGHERITA $10</h4></dt>
              <dd><h5>Tomato sauce, fior di latte, olive oil, sea salt</h5></dd>
            <dt><h4>CALABRESE SALAMI $11</h4></dt>
              <dd><h5>Tomato sauce, fior di latte, calabrese salami, basil, olive oil, sea salt, grana padano</h5></dd>
            <dt><h4>PROSCIUTTO + ARUGULA $11.50</h4></dt>
              <dd><h5>Olive oil, oregano, garlic, fior di latte, sea salt, grana padano, arugula + prosciutto added after</h5></dd>
            <dt><h4>CRUSHED ITALIAN MEATBALL $$11.50</h4></dt>
              <dd><h5>Tomato sauce, oregano, Italian meatball, red onion, fior di latte, olive oil, sea salt, grana padano</h5></dd>
            <dt><h4>SPICY HAM & PINEAPPLE $13</h4></dt>
              <dd><h5>Mascarpone cheese, calabrian chilis, tomato sauce, olive oil, sea salt, tuscan ham, smoked mozzarella, grana padano</h5></dd>
            <dt><h4>PESTO, FETA, & OLIVE $11</h4></dt>
              <dd><h5>Pesto, red onion, castelvetrano olives, goat feta, grana padano, olive oil, sea salt</h5></dd>
          </dl>
          <!-- end community pizzeria menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-3"><img src='images/Salads.jpg' width="88px" height="70px"</img> Culver City Salads </a>
        <div id="accordion-3" class="accordion-section-content">

          <p>Vancouver’s first completely plant-based and gluten free mobile salad company run by Christina and Sarah Culver. They use local farms to source their produce.</p>

          <p><img src='images/clock.png' width="20px" height="20px"/> Tuesday to Friday 11:15 AM - 2:15 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"/> Hastings St & Thurlow St</p>

          <h3>Menu</h3>
          <!-- start culver city salads menu -->
          <dl>
            <dt><h4>Seasonal Menu (Subject to change)</h4></dt>
            <dt><h4>QUINOA $9</h4></dt>
              <dd><h5>Kale, chard, romaine, arugula, red + white quinoa, chickpeas, yam, yellow pepper, sugar peas, carrot & zucchini & beat shred, guacamole, pumpkin seeds</h5></dd>
            <dt><h4>SOBA $9</h4></dt>
              <dd><h5>Kale, chard, romaine, arugula, soba noodles, chopped green cabbage, cherry tomatoes, fennel, carrot & zucchini & beat shred, avocado, sesame seeds</h5></dd>
            <dt><h4>GRAIN-FREE $9</h4></dt>
              <dd><h5>Kale, chard, romaine, arugula, yellow pepper, chopped green cabbage, sugar peas, cherry tomatoes, carrot & zucchini & beat shred, avocado, pumpkin seeds, chickpea, radish, fennel</h5></dd>
            <dt><h4>CREAMY DRESSING</h4></dt>
              <dd><h5>Includes: fennel, miso, tahini, apple cider vinegar, garlic</h5></dd>
            <dt><h4>BALSAMIC DRESSING</h4></dt>
              <dd><h5>Includes: Sundried tomato, basil, apple cider + balsamic vinegar, olive oil, garlic, dijon</h5></dd>
            <dt><h4>COOKIES $3</h4></dt>
              <dd><h5>Double Chocolate chip cookies that are gluten-free and + vegan. Made with organic coconut sugar, oil, and love</h5></dd>
            <dt><h4>DRINKS $4</h4></dt>
              <dd><h5>Culver City Kombucha iced tea with lime</h5></dd>
          </dl>
          <!-- end culver city salads menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-4"><img src='images/Feastro.jpg' width="88px" height="70px"</img> Feastro The Rolling Bistro </a>
        <div id="accordion-4" class="accordion-section-content">
          <p>Serves a variety of delicious tacos, sammies, and sides.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> 11:30 AM - 2:30 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Howe St @ The Vancouver Art Gallery (between Robson St & W Georgia St)</p>

          <h3>Menu</h3>
          <!-- start feastro menu -->
          <dl>
            <dt><h3>TACOS: One for $5.50 & Two for $9.95</h3></dt>
              <dd><h5>Served on a 6 inch white corn tortilla with tomato chutney, shaved cabbage and fresh lime.</h5></dd>
            <dt><h4>FISH TACO</h4></dt>
              <dd><h5>Chickpea battered ling cod, served with tikka masala yogurt and tomato salsa</h5></dd>
            <dt><h4>BEEF TACO</h4></dt>
              <dd><h5>15 hour braised flat iron steak, served with lemon garlic aioli, pickled red onions and tomato salsa</h5></dd>
            <dt><h4>CHICKEN TACO</h4></dt>
              <dd><h5>Salty sweet chicken, served with pickled jalapeños, pickled vegetables and savoury aioli</h5></dd>
            <dt><h4>PORK TACO</h4></dt>
              <dd><h5>Slow and low roasted pulled pork, with mojo aioli, tomato salsa, and pickled jalapeños</h5></dd>

            <dt><h3>SAMMIES $9.95</h3></dt>
              <dd><h5>Served on toasted ciabatta bun, ginger slaw, and hand cut fries</h5></dd>
            <dt><h4>FRIED CHICKEN SAMMIE</h4></dt>
              <dd><h5>Buttermilk fried chicken served with Feastro aioli</h5></dd>
            <dt><h4>FISH SAMMIE</h4></dt>
              <dd><h5>Crispy fried ling cod served with house made tartar sauce</h5></dd>
            <dt><h4>PORK SAMMIE</h4></dt>
              <dd><h5>Slow and low pulled pork served with tangy BBQ sauce</h5></dd>
            <dt><h4>BEER SAMMIE</h4></dt>
              <dd><h5>Slower and lower braised teriyaki beef served with pickled onions and lemon garlic aioli</h5></dd>

            <dt><h3>FAVES: Solo for $6 & To share for $11</h3></dt>
            <dt><h4>FEASTRO ORIGINAL DIRTY FRIES</h4></dt>
              <dd><h5>Kennebec fries smothered with pulled pork, topped with Feastro aioli, lemon garlic aioli, fresh salsa, and pickled jalapeños</h5></dd>
            <dt><h4>DIRTY BIRDIE</h4></dt>
              <dd><h5>Curry chicken and fries, topped with tikka masala and tomato chutney</h5></dd>
            <dt><h4>CHILI FRIES</h4></dt>
              <dd><h5>Hand cut fries, topped with truck chili, served with sour cream, cheddar cheese, and green onions</h5></dd>

            <dt><h3>MORE</h3></dt>
            <dt><h4>FISH & CHIPS $9.95</h4></dt>
              <dd><h5>Two pieces of chickpea battered ling cod, served with kennebec fries, ginger slaw and homemade tartar sauce</h5></dd>
              <dd><h5>Add another piece of cod for $3.50</h5></dd>

            <dt><h3>SIDES</h3></dt>
            <dt><h4>SWEET POTATO FRIES $4.50</h4></dt>
              <dd><h5>Served with chipotle aioli</h5></dd>
            <dt><h4>KENNEBEC FRIES $4</h4></dt>
              <dd><h5>(It's a type of potato) tossed in sea salt</h5></dd>
            <dt><h4>GINGER SLAW $3.50</h4></dt>
              <dd><h5>Honey ginger vinaigrette with dried cranberries</h5></dd>
            <dt><h4>SOUP du TRUCK price available on site</h4></dt>
              <dd><h5>Served with a mini biscuit</h5></dd>
          </dl>
          <!-- end feastro menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-5"><img src='images/Japadog.jpg' width="88px" height="70px"</img> Japadog </a>
        <div id="accordion-5" class="accordion-section-content">

          <p>Vancouver's famous Japanese-style hot dog stand, serving Terimayo, Oroshi, Misomayo and Okonomi hot dogs & more.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Sunday to Thursday 11:30 AM - 6 PM & Friday to Saturday 11:30 AM - 7 PM</p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Burrard St & Pender St</p>

          <h3>Menu</h3>
          <!-- start japadog menu -->
          <dl>
            <dt><h3>SPECIALTY</h3></dt>
            <dt><h4>TERIMAYO</h4></dt>
              <dd><h5>JAPADOG's signature hotdog: teriyaki sauce, japanese mayo and seaweed</h5></dd>
            <dt><h4>KUROBUTA TERIMAYO</h4></dt>
              <dd><h5>The popular hotdog that was listed as "one of the must eat items in the world". The juicy kurobuta sausage elevates the flavours of the terimayo sauce.</h5></dd>
            <dt><h4>BRATWURST TERIMAYO</h4></dt>
              <dd><h5>All the flavours of terimayo with a pork sausage that embodies great flavour and texture.</h5></dd>
            <dt><h4>TURKEY TERIMAYO</h4></dt>
              <dd><h5>The signature terimayo made with our original juicy turkey sausage.</h5></dd>
            <dt><h4>SPICY CHEESE TERIMAYO</h4></dt>
              <dd><h5>Another signature dog contains three types of cheese with a hint of spiciness in the sausage. All that topped with terimayo sauce makes for a tasty hot dog.</h5></dd>
            <dt><h4>ARABIKI TERIMAYO</h4></dt>
              <dd><h5>A sausage made from coarse ground pork topped with our terimayo sauce.</h5></dd>
            <dt><h4>VEGGIE TERIMAYO</h4></dt>
              <dd><h5>Made completely from non-meat products topped with our terimayo sauce.</h5></dd>
            <dt><h4>OROSHI</h4></dt>
              <dd><h5>Freshly grated radish with a special soya sauce. East meets West.</h5></dd>
            <dt><h4>OKONOMI</h4></dt>
              <dd><h5>Okonomi transformed into a hotdog. Juicy kurobuta sausage topped with bonito flakes.</h5></dd>
            <dt><h4>TONKATSU</h4></dt>
              <dd><h5>Deep fried pork cutlet marinated in tonkatsu sauce topped with fresh cabbage.</h5></dd>
            <dt><h4>LOVE MEAT</h4></dt>
              <dd><h5>Our home made meat sauce is fused together with melted cheese, making it popular to all ages.</h5></dd>
            <dt><h4>HOT & SPICY</h4></dt>
              <dd><h5>Beef hotdog with lettuce and special spicy sauce.</h5></dd>
            <dt><h4>CROQUETTE</h4></dt>
              <dd><h5>Japanese croquette (fried mashed potato) and arabiki sausage.</h5></dd>

            <dt><h3>PLAIN</h3></dt>
            <dt><h4>ALL BEEF</h4></dt>
              <dd><h5>A traditional beef sausage.</h5></dd>
            <dt><h4>KUROBUTA PORK</h4></dt>
              <dd><h5>A kurobuta pork sausage. A juicy best seller!</h5></dd>
            <dt><h4>BRATWURST</h4></dt>
              <dd><h5>Pork sausage with great flavour and texture.</h5></dd>
            <dt><h4>TURKEY SMOKY</h4></dt>
              <dd><h5>Our original juicy turkey sausage.</h5></dd>
            <dt><h4>THREE CHEESE SMOKY</h4></dt>
              <dd><h5>Swiss, cheddar, and havarti are blended into the sausage.</h5></dd>
            <dt><h4>ARABIKI</h4></dt>
              <dd><h5>A sausage made from coarse ground pork.</h5></dd>
            <dt><h4>VEGGIE</h4></dt>
              <dd><h5>A sausage made completely from non-meat products.</h5></dd>

            <dt><h3>SHAKEN FRIES</h3></dt>
            <dt><h4>REGULAR</h4></dt>
              <dd><h5>Fried to golden brown.</h5></dd>
            <dt><h4>BUTTER & SHOYU</h4></dt>
              <dd><h5>A good combination of sweet, salty, and buttery flavour. Our most popular flavour!</h5></dd>
            <dt><h4>SHICHIMI & GARLIC</h4></dt>
              <dd><h5>Roasted garlic with nanami togarashi spice (hot pepper).</h5></dd>
            <dt><h4>AONORI</h4></dt>
              <dd><h5>Flavour of aonori (dried ground seaweed) is a perfect match with fried potatoes.</h5></dd>
            <dt><h4>UME KATSUO</h4></dt>
              <dd><h5>Ume (Japanese pickled plum) flavour with a slight accent of bonito broth is a Japanese traditional flavour!</h5></dd>
            <dt><h4>BLACKPEPPER</h4></dt>
              <dd><h5>The special black pepper spice on fries is truly addicting.</h5></dd>
            <dt><h4>CONSOMME</h4></dt>
              <dd><h5>Umami flavour! Feel the flavour of consomme from Yoshoku (Japanese Western) cuisines.</h5></dd>

            <dt><h3>DRINKS</h3></dt>
            <dt><h4>POP</h4></dt>
          </dl>
          <!-- end japadog menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-6"><img src='images/Moms.jpg' width="88px" height="70px"</img> Mom's Grilled Cheese </a>
        <div id="accordion-6" class="accordion-section-content">
          <p>Mom’s Grilled Cheese Truck serves classic home style gourmet grilled cheese, soups and other comfort foods…..like Mom used to make.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Monday to Friday 11:30 AM – 3 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Howe St & Robson St</p>

          <h3>Menu</h3>
          <!-- start grilled cheese menu -->
          <dl>
            <dt><h3>MOM'S DAILY SPECIALS $10</h3></dt>
            <dt><h4>MONDAY - MOM'S MEATLOAF</h4></dt>
              <dd><h5>A hearty slice of homemade meatloaf surrounded by melted mozzarella and marinara sauce on crusty French bread.</h5></dd>
            <dt><h4>TUESDAY - Z GARDEN</h4></dt>
              <dd><h5>Sundried tomato feta spread, dill havarti, roasted red peppers, avocado and fresh pea shoots on Buckwheat Anise bread. This little lady will melt your heart.</h5></dd>
            <dt><h4>WEDNESDAY - THE HOT ANGIE</h4></dt>
              <dd><h5>Oh she's hot! Hot cappicollo, spicy red pepper aioli, mozzarella and havarti on crusty French bread.</h5></dd>
            <dt><h4>THURSDAY - THE JACKSON 3</h4></dt>
              <dd><h5>A triple threat...three slices of sourdough with brie, boursin, and gruyere.</h5></dd>
            <dt><h4>FRIDAY - SHISHI GO TO SCHOOL</h4></dt>
              <dd><h5>Slow cooked, melt in your mouth pulled pork, pepperjack cheese, grilled up on potato bread, with a handful of crisp fresh coleslaw thrown in at the end. As good as Sheesh is purdy.</h5></dd>

            <dt><h3>MOM'S CLASSIC $8</h3></dt>
            <dt><h4>CHOOSE YOUR BREAD</h4></dt>
              <dd><h5>White | Sourdough | Marbled rye</h5></dd>
              <dd><h5>All our breads are artisan breads made fresh daily.</h5></dd>
              <dd><h5>Gluten-free bread available for $2.5</h5></dd>
            <dt><h4>CHOOSE YOUR CHEESE</h4></dt>
              <dd><h5>Cheddar | Havarti | Pepperjack | Provolone | Swiss</h5></dd>
              <dd><h5>Daiya vegan cheese available for $1.5</h5></dd>
            <dt><h4>MAKE IT A DELUXE! ADD $0.75 EACH</h4></dt>
              <dd><h5>Sliced red onion | Sliced dill pickle | Sliced tomato | Hot banana peppers</h5></dd>
            <dt><h4>MAKE IT A SUPER-DELUXE! ADD $1.75 EACH</h4></dt>
              <dd><h5>Double cheese| Double smoked bacon | Avocado</h5></dd>

            <dt><h3>MOM'S SWEET THANGS $6</h3></dt>
            <dt><h4>THE SWEET LITTLE VAL</h4></dt>
              <dd><h5>Nutella, sweet ripe strawberries, toasted coconut grilled on buttered brioche. Sweet like Val.</h5></dd>
            <dt><h4>THE FAT ELVIS</h4></dt>
              <dd><h5>Peanut butter and banana with a sprinkle of smoked sea salt on white. Eat like a king.</h5></dd>
            <dt><h4>THE PMJ</h4></dt>
              <dd><h5>Grilled peanut butter and mixed berry jam. Made with so much love.</h5></dd>

            <dt><h3>MOM'S SIDES</h3></dt>
            <dt><h4>MOM'S SPICY GASPACHO - a shot for $2 or a cup for $5.5</h4></dt>
              <dd><h5>Spicy and flavourful tomato soup served iced cold, and garnished with a pickled green bean.</h5></dd>
              <dd><h5>Add extra pickle for $0.50</h5></dd>
            <dt><h4>THE FAT ELVIS</h4></dt>
              <dd><h5>Peanut butter and banana with a sprinkle of smoked sea salt on white. Eat like a king.</h5></dd>
            <dt><h4>THE PMJ</h4></dt>
              <dd><h5>Grilled peanut butter and mixed berry jam. Made with so much love.</h5></dd>

            <dt><h3>MOM'S DRINKS</h3></dt>
            <dt><h4>POP SHOPPE, COKE, DIET COKE, GINGERALE, SPRITE $2.75</h4></dt>
            <dt><h4>WATER $1.50</h4></dt>
            <dt><h4>MOM'S GINGER MINT LEMONADE $3.50</h4></dt>
            <dt><h4>MOM'S KOOLAID $2</h4></dt>
          </dl>
          <!-- end grilled cheese menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-7"><img src='images/Pig.jpg' width="88px" height="70px"</img> Pig on the Street </a>
        <div id="accordion-7" class="accordion-section-content">

          <p>Pig on the street strives to bring taste, sustainability, simplicity & creativity together to the bustling street food scene in Vancouver. They only use humanely treated pork products and pigs which are fed a healthy diet.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> To be announced </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> To be announced </p>

          <h3>Menu</h3>
          <!-- start pig menu -->
          <dl>
            <dt><h4>PIGGY BLUES</h4></dt>
              <dd><h5>Mushrooms, blue cheese, carmelized onion mayo</h5></dd>
            <dt><h4>THE PORKER</h4></dt>
              <dd><h5>Sausage, bacon stuffing with green apple, goat gouda, carmelized onion mayo, greens</h5></dd>
            <dt><h4>PIG L.T</h4></dt>
              <dd><h5>Lettuce, tomato, farmhouse cheddar, avocado, bacon & maple mayo</h5></dd>
            <dt><h4>SOUTHERN PIG</h4></dt>
              <dd><h5>Bourbon BBQ sauce, grilled peppers, corn, cheddar, greens, chipotle mayo</h5></dd>
            <dt><h4>NO PIGGY (VEG)</h4></dt>
              <dd><h5>Grilled halloumi cheese, mushrooms, shaved parmesan, arugula pesto, greens</h5></dd>
          </dl>
          <!-- end pig menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-8"><img src='images/Juice.jpg' width="88px" height="70px"</img> The Juice Truck </a>
        <div id="accordion-8" class="accordion-section-content">

          <p>The Juice Truck is Vancouver’s first and original Cold-Pressed Juice Company. Their premium cold press makes juice that contains more essential vitamins, minerals and enzymes than juice made any other way. The cold press also preserves the natural flavours of the produce, which makes the juice tastier.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Monday to Saturday 12 Pm - 5 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Water St & Abbott St Gastown </p>

          <h3>Menu</h3>
          <!-- start juice menu -->
          <dl>
            <dt><h3>COLD PRESSED JUICE</h3></dt>
            <dt><h4>THE GREEN</h4></dt>
              <dd><h5>Cucumber pressed with kale, spinach, parsley, celery, cilantro & lime (add apple/ginger)</h5></dd>
            <dt><h4>THE CARROT APPLE</h4></dt>
              <dd><h5>Apple pressed with carrot, celery & mint</h5></dd>
            <dt><h4>THE PROFILE</h4></dt>
              <dd><h5>Apple pressed with pineapple, pear, orange, carrot & ginger</h5></dd>
            <dt><h4>THE CLASSIC</h4></dt>
              <dd><h5>Apple pressed with carrot, beet & ginger</h5></dd>
            <dt><h4>THE REMEDY</h4></dt>
              <dd><h5>Pineapple pressed with cucumber, kale, mint & ginger</h5></dd>
            <dt><h4>THE ALOE GREEN</h4></dt>
              <dd><h5>Pineapple pressed with orange, spinach, mint, lemon, coconut water & aloe vera</h5></dd>
            <dt><h4>THE PATIO</h4></dt>
              <dd><h5>Blueberry pressed with pear, lime, mint, coconut water, & aloe vera juice (add ginger)</h5></dd>

            <dt><h3>SMOOTHIES</h3></dt>
            <dt><h4>THE AVOCADO PINEAPPLE</h4></dt>
              <dd><h5>Avocado blended with pineapple, coconut water, lime, raw vanilla & coconut nectar</h5></dd>
            <dt><h4>THE STRAWBERRY COCONUT</h4></dt>
              <dd><h5>Strawberry blended with coconut meat, coconut milk, banana, raw cacao nibs, raw vanilla & coconut nectar</h5></dd>
            <dt><h4>THE ALMOST CHOCOLATE</h4></dt>
              <dd><h5>Banana blended with medjool dates, almond butter, raw cacao, raw maca & almond milk (add raw hemp seed for extra protein)</h5></dd>
            <dt><h4>THE BANANA BEET</h4></dt>
              <dd><h5>Beet blended with strawberry, spinach, avocado, banana, ginger, raw vanilla & almond milk</h5></dd>
            <dt><h4>THE BLUEBERRY MATCHA</h4></dt>
              <dd><h5>Blueberry blended with matcha tea powder, banana, cacao nibs, cinnamon, medjool dates & almond milk</h5></dd>
            <dt><h4>THE GREEN SMOOTHIE</h4></dt>
              <dd><h5>Kale blended with spinach, avocado, banana, coconut water, lime, ginger & medjool date</h5></dd>
            <dt><h4>THE COCONUT</h4></dt>
              <dd><h5>Coconut water blended with coconut meat, coconut milk, coconut nectar, raw vanilla & lime</h5></dd>

            <dt><h3>OTHER JUICE TRUCK PRODUCTS</h3></dt>
            <dt><h4>THE WELLNESS SHOT</h4></dt>
              <dd><h5>Ginger Lemon Cayenne</h5></dd>
            <dt><h4>THE RAW CHAI BROWNIE</h4></dt>
              <dd><h5>Dates with raw cacao powder, hazelnut, coconut oil, ground flax seed, maple syrup, raw vanilla & chai spices</h5></dd>
            <dt><h4>THE CACAO COCONUT BAR</h4></dt>
              <dd><h5>Walnuts with pecans, cacao, coconut meat, coconut flakes, raisins & maple syrup</h5></dd>
            <dt><h4>THE RAW ENERGY BAR</h4></dt>
              <dd><h5>Hemp seed with chia seed, coconut oil, flax seed, cacao nibs, pumpkin seeds, shredded coconut, bee pollen, medjool dates, raw vanilla, poppy seed & gluten free rolled oats</h5></dd>

            <dt><h3>FOOD</h3></dt>
            <dt><h4>Selection of vegan, gluten free lunches made in house to go.</h4></dt>
          </dl>
          <!-- end juice menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-9"><img src='images/Reef.jpg' width="88px" height="70px"</img> The Reef Runner </a>
        <div id="accordion-9" class="accordion-section-content">
        
          <p>The Reef Runner cooks up West Indian Roti, Curries, Jamaican patties and the famous jerk chicken poutine.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Thursday to Friday 11 AM – 2:30 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> West Cordova St and Thurlow St </p>

          <h3>Menu</h3>
          <!-- start reef menu -->
          <dl>
            <dt><h4>WEST INDIAN CURRY CHICKEN $9</h4></dt>
            <dt><h4>ROTI CHICKEN $9</h4></dt>
            <dt><h4>JERK CHICKEN $9</h4></dt>
            <dt><h4>ITAL (VEGETARIAN) $8</h4></dt>
            <dt><h4>JERK POUTINE $6</h4></dt>
              <dd><h5>Add chicken for $1</h5></dd>
            <dt><h4>PLANTAINS $5</h4></dt>
              <dd><h5>Side order $2.50</h5></dd>
            <dt><h4>JAMAICAN PATTIES $4</h4></dt>
              <dd><h5>Choice of beef or tofu</h5></dd>
            <dt><h4>JOHNNY CAKES $2</h4></dt>
              <dd><h5>Cinnamon & sugar coated</h5></dd>
            <dt><h4>TOBAGO WRAP $9</h4></dt>
          </dl>
          <!-- end reef menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->

      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-10"><img src='images/Yolks.jpg' width="88px" height="70px"</img> Yolk's Street Meet Truck </a>
        <div id="accordion-10" class="accordion-section-content">

          <p>Serving unique hand crafted breakfast in a street friendly way with great coffee and fresh juices.</p>

          <p><img src='images/clock.png' width="20px" height="20px"</img> Tuesday to Friday 8 AM – 2 PM </p>
          <p><img src='images/location.png' width="25px" height="20px"</img> Burrard St & Pender St</p>

          <h3>Menu</h3>
          <!-- start yolks menu -->
          <dl>
            <dt><h3>POACHED FREE-RANGE EGG SANDWICHES</h3></dt>
            <dt><h4>DOUBLE SMOKED BACON</h4></dt>
              <dd><h5>With fresh arugula, choice of one egg (on english muffin or truffle-lemon hashbrowns (no bread) for $1 or organic gluten-free bun for $1.50) or two eggs (on organic whole wheat ciabatta or benedict style (open-faced on an english muffin) or on truffle-lemon hashbrowns (no bread) for $1.50 or gluten-free benedict style (open-faced on an organic gluten-free bun) for $1.50) both include either real hollandaise or aged white cheddar</h5></dd>
              <dd><h5> One egg choice for $7.50, add okanagan valley goat cheese for $1 </h5></dd>
              <dd><h5> Two egg choice for $10.75, add okanagan valley goat cheese for $2 </h5></dd>

            <dt><h4>HAND CARVED HONEY HAM</h4></dt>
              <dd><h5>With fresh spinach and Yolk's made dijon, choice of one egg (on english muffin or truffle-lemon hashbrowns (no bread) for $1 or organic gluten-free bun for $1.50) or two eggs (on organic whole wheat ciabatta or benedict style (open-faced on an english muffin) or on truffle-lemon hashbrowns (no bread) for $1.50 or gluten-free benedict style (open-faced on an organic gluten-free bun) for $1.50) both include either real hollandaise or aged white cheddar</h5></dd>
              <dd><h5> One egg choice for $7.50, add okanagan valley goat cheese for $1 </h5></dd>
              <dd><h5> Two egg choice for $10.75, add okanagan valley goat cheese for $2 </h5></dd>

            <dt><h4>PORTOBELLO MUSHROOM</h4></dt>
              <dd><h5>With aioli and fresh arugula, choice of one egg (on english muffin or truffle-lemon hashbrowns (no bread) for $1 or organic gluten-free bun for $1.50) or two eggs (on organic whole wheat ciabatta or benedict style (open-faced on an english muffin) or on truffle-lemon hashbrowns (no bread) for $1.50 or gluten-free benedict style (open-faced on an organic gluten-free bun) for $1.50) both include either real hollandaise or aged white cheddar</h5></dd>
              <dd><h5> One egg choice for $7.50, add okanagan valley goat cheese for $1 </h5></dd>
              <dd><h5> Two egg choice for $10.75, add okanagan valley goat cheese for $2 </h5></dd>

            <dt><h3>SIDES</h3></dt>
            <dt><h4>TRUFFLE-LEMON HASHBROWN SKEWER $3.50</h4></dt>
              <dd><h5>Organic local potatoes, fresh lemon, truffle oil, sea salt & chives</h5></dd>
            <dt><h4>BEIGNETS $8.25</h4></dt>
              <dd><h5>with icing sugar & salted caramel dip</h5></dd>

            <dt><h3>GRANOLA</h3></dt>
            <dt><h4>YOLK'S HONEY TOASTED GRANOLA $4.50</h4></dt>
              <dd><h5>Rolled oats, almonds, pecans, hazelnuts, craisins, raisins, pumpkin seeds, flax seeds, honey, cinnamon, ginger & served with 2% milk (or almond milk for $1)</h5></dd>
              <dd><h5>add bananas for $1</h5></dd>
              <dd><h5>add yogurt for $2</h5></dd>

            <dt><h3>OATMEAL</h3></dt>
            <dt><h4>ORGANIC OATMEAL $4.75</h4></dt>
              <dd><h5>cooked in spiced apple cider & served with 2% milk (or almond milk for $1)</h5></dd>
              <dd><h5>add bananas for $1</h5></dd>
              <dd><h5>add yogurt for $2</h5></dd>

            <dt><h3>ADD ON THE SIDE</h3></dt>
              <dd><h5>Double smoked bacon for $2.75</h5></dd>
              <dd><h5>Hand carved honey ham for $2.75</h5></dd>
              <dd><h5>English muffin with butter for $1.75</h5></dd>
              <dd><h5>Canadian maple syrup for $2</h5></dd>
              <dd><h5>Poached free-range egg for $2</h5></dd>
              <dd><h5>Real hollandaise for $2</h5></dd>
              <dd><h5>Aged white cheddar for $1.50</h5></dd>

            <dt><h3>BEVERAGES</h3></dt>
            <dt><h4>FRESH SQUEEZED ORANGE JUICE (12oz for $5.75) or (16oz for $7.75)</h4></dt>
              <dd><h5>Squeezed fresh daily</h5></dd>
            <dt><h4>YOLKS SPECIAL JUICE</h4></dt>
              <dd><h5>Daily fresh juice blend</h5></dd>
            <dt><h4>CALLEBAUT HOT CHOCOLATE</h4></dt>
              <dd><h5>Made with 2% (12oz for $4.50) or (16oz for $5.50)</h5></dd>
              <dd><h5>Made with almond milk (12oz for $5.50) or (16oz for $6.50)</h5></dd>
              <dd><h5>Real hot chocolate, topped with whipped cream</h5></dd>
            <dt><h4>ICED CALLEBAUT HOT CHOCOLATE</h4></dt>
              <dd><h5>Made with 2% (12oz for $3.25) or (16oz for $4)</h5></dd>
              <dd><h5>Made with almond milk (12oz for $3.75) or (16oz for $5.75)</h5></dd>
              <dd><h5>Rich chocolate milk over ice</h5></dd>
           <dt><h4>HOT SPICED OKANAGAN APPLE CIDER (12oz for $3.85) or (16oz for $4.50)</h4></dt>
              <dd><h5>With cinnamon, lemon & cayenne</h5></dd>
           <dt><h4>THE TEA GUY ORGANIC LOOSE LEAF TEA (16oz for $2.50)</h4></dt>
              <dd><h5>Vanilla bourbon rooibos, peppermint, Irish breakfast, earl grey, or crimson berry</h5></dd>
           <dt><h4>LOCALLY ROASTED COFFEE (12oz for $2.25) or (16oz for $2.75)</h4></dt>
              <dd><h5>Organic & fairly traded</h5></dd>
          </dl>
          <!-- end yolks menu -->

        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
</div>
    </div><!--end .accordion-->
